---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ContactComponent from "../components/Contact.astro";
---

<Layout title="Contact | Gabor Flandorffer">
    <Navbar />
    <main id="main-content" class="page-main page-main--centered">
        <ContactComponent />
    </main>
</Layout>
