---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Education from "../components/Education.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Credentials | Gabor Flandorffer">
    <Navbar />
    <main id="main-content" class="page-main page-stack credentials-page" tabindex="-1">
        <Education />
        <div class="section-divider"></div>
        <Contact />
    </main>
</Layout>

<style>
    .credentials-page {
        background: var(--bg-primary);
    }
</style>
