---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ExperienceComponent from "../components/Experience.astro";
---

<Layout title="Experience | Gabor Flandorffer">
    <Navbar />
    <main id="main-content" class="page-main">
        <ExperienceComponent />
    </main>
</Layout>
