---
import About from "../components/About.astro";
import Education from "../components/Education.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<div class="section-divider"></div>
		<About />
		<div class="section-divider"></div>
		<Testimonials />
		<div class="section-divider"></div>
		<Education />
	</main>
</Layout>
