---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectsComponent from "../components/Projects.astro";
import SkillsComponent from "../components/Skills.astro";
---

<Layout title="Projects & Skills | Gabor Flandorffer">
    <Navbar />
    <main id="main-content" class="page-main page-stack" tabindex="-1">
        <SkillsComponent />
        <div class="section-divider"></div>
        <ProjectsComponent />
    </main>
</Layout>
