---
import Navbar from "../components/Navbar.astro";
import SkillsComponent from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Skills | Gabor Flandorffer">
    <Navbar />
    <main id="main-content" class="page-main" tabindex="-1">
        <SkillsComponent />
    </main>
</Layout>
